/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx

# Gradle
.gradle/
build/
/build

# Android Studio
.idea/
*.iml
*.log
local.properties

# OS
.DS_Store
